.header__lang-item {
    display: flex;
    gap: 18px;
}

.header__radio[type=radio] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.header__radio:checked+.header__lang-link {
    text-decoration: underline;
}

.header__lang-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}