.lead__title {
    max-width: 720px;
    margin: 0;
    text-align: center;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    font-weight: 900;
}

@media screen and (max-width: 730px) {
    .lead__title {
        font-size: 60px;
        line-height: 64px;
    }
}

@media screen and (max-width:600px) {
    .lead__title {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width:444px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}
